
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SLO Scoring</title>
  <link rel="stylesheet" href="/static/style.css" />
  <script>
    const requiredSLOs = new Set([1, 3]);
  </script>
  <script src="/static/app.js" defer></script>
</head>
<body>
  <h1>SLO Scoring Interface</h1>

  <div class="controls">
    <label><input type="checkbox" class="toggleRequiredOnly"> Hide optional SLOs</label>
    <label><input type="checkbox" class="toggleDescriptions"> Collapse descriptions</label>
  </div>

  <div id="studentsContainer"></div>

  <div class="controls">
    <label><input type="checkbox" class="toggleRequiredOnly"> Hide optional SLOs</label>
    <label><input type="checkbox" class="toggleDescriptions"> Collapse descriptions</label>
  </div>
</body>
</html>
